doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        title= content.cat_name
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        header.top
            .container
                h1 Chat  

        h2= content[0].cat_name
        