doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        title Cadastro de clientes
    body
        h1 Index

        ul
            each val, index in content
                li= index
                    ul
                        each v, index in val
                            li= v.room_name
