doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        title Cadastro de clientes
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        
        main.container
            h1.text-center.home Chat            
           
            each valeus, cat in content
                ul.groupRooms
                    li
                        p 
                            a(href=`/${cat}`)= valeus[0].cat_name
                        ul
                            each room in valeus
                                li
                                    a(href=`/${cat}/${room.room_url}`)= room.room_name
