doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        title Cadastro de clientes
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
    body

    main.container        

        div.boxLogin
            h1 ADMIN

            if errors.length
                div.errors
                    ul
                        each val, index in errors
                            li= val.msg

            form(action="/admin" method="post")
                input(type="text" placeholder="type the name" name="user")
                input(type="password" placeholder="type the password" name="password")
                button.btn.btn-success Log in