doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        title= page_name
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        header.top
            .container
                h1 Chat 

        main.container.page

            if validacao.length
                ul
                    each val, index in validacao
                        li= val.msg

            div.boxCenter
                h2= page_name
                form(action=url, method='post')
                    input(type="text" name="nick" placeholder="Type your name")
                    br
                    button(type="submit") Entrar